<!DOCTYPE html>

<html>
<head>
    <title>User Signup</title>
</head>
<body>
<h1>User Signup</h1>
<form method="post" action="signupSuccess">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password"><br><br>

    <label for="nickname">Nickname</label>
    <input type="text" id="nickname" name="nickname"><br><br>

    <input type="submit" value="Signup">
</form>

</body>
</html>