<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>
<h1>Registration Form</h1>
<form action="signupSuccess" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" name="nickname"><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>