<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.campus_server.mapper.UserMapper">
    <select id="getAllUser" resultType="com.example.campus_server.entity.User">
        SELECT user_id,nickname
        FROM campus.[user]
    </select>
    <update id="ifUsernameExist" parameterType="Map" statementType="CALLABLE">
        {CALL [campus].[if_username_exist](
            #{username, mode=IN, jdbcType=NVARCHAR},
            #{ifExist, mode=OUT, jdbcType=BIT})}
    </update>
    <update id="signup" statementType="CALLABLE" parameterType="Map">
        {CALL [campus].[signup](
                #{username, mode=IN, jdbcType=NVARCHAR},
                #{password, mode=IN, jdbcType=CHAR},
                #{nickname, mode=IN, jdbcType=NVARCHAR},
                #{ret, mode=OUT, jdbcType=INTEGER})}
    </update>
    <update id="login" statementType="CALLABLE" parameterType="Map">
        {CALL [campus].[login](
                              #{username, mode=IN, jdbcType=NVARCHAR},
                             #{password, mode=IN, jdbcType=CHAR}
            }
            )

        }

    </update>



</mapper>

